<%= link_to 'Cancel', meal_plans_path, class: "#{button_classes} float-right" %>

<h1>Edit the Plan for <%= @meal_plan.prepared_on.to_fs(:long) %> </h1>

<%= render 'form', meal_plan: @meal_plan %>

<%= render partial: 'shared/delete_footer', locals: { object: @meal_plan } %>
