<% content_for(:title, 'Editing Meal Plan') %>

<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + 'Meal Plan', @meal_plan %></p>

<h1>Edit the Plan for <%= @meal_plan.prepared_on.to_fs(:long) %> </h1>

<%= render 'form', meal_plan: @meal_plan %>

<%= render partial: 'shared/delete_footer', locals: { object: @meal_plan, delete_path: @meal_plan } %>
