<% content_for(:title, 'Add a Meal Plan') %>

<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + 'Meal Plans', meal_plans_path %></p>

<h1>Create a Meal Plan</h1>

<%= render partial: 'form', locals: { meal_plan: @meal_plan, recipes: @meal_plan.recipes } %>
