<section id='js-active-items'>
  <% shopping_list.active_items_by_aisle.each do |aisle, items| %>
    <% if aisle %>
      <%= tag.div id: dom_id(aisle) do %>
        <h4 class='aisle'><%= aisle.name %></h4>
        <%= render partial: '/shopping_list_items/item', collection: items, as: :item %>
      <% end %>
    <% end %>
  <% end %>
</section>
