<section id='js-active-items' class="mt-2">
  <% shopping_list.active_items_by_aisle.each do |aisle, items| %>
    <% if aisle %>
      <%= tag.div id: dom_id(aisle) do %>
        <h4 class='aisle'><%= aisle.name %></h4>
        <% items.each do |item| %>
          <%= render partial: '/shopping_list_items/item', locals: { item: item, destination_path: deactivate_shopping_list_item_path(item) } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
