<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + "#{@shopping_list.name} List", @shopping_list %></p>

<h1>Editing <%= @shopping_list_item.name %></h1>

<%= render 'form' %>

<%= render partial: 'shared/delete_footer', locals: { object: @shopping_list_item, delete_path: shopping_list_shopping_list_item_path(@shopping_list_item.list, @shopping_list_item) } %>
