<% content_for(:title, 'Add an Item') %>

<%= link_to 'Cancel', shopping_lists_path, class: 'btn btn-outline-primary right' %>

<h3><%= @shopping_list.name %></h3>
<h1>Add an Item</h1>

<%= render 'form' %>
