<% if current_user.meal_plans.any? %>
<h5>Related Meal Plans</h5>
<% if available_meal_plans_dropdown(current_user, recipe).any? %>
  <small>Add to Upcoming Plans:</small>
  <%= render 'add_to_meal_plan_dropdown', meal_plan_recipe: MealPlanRecipe.new, recipe: recipe %>
<% end %>

<ul>
  <% recipe.meal_plans.order(prepared_on: :desc).limit(5).each do |plan| %>
    <li><%= link_to "#{l plan.prepared_on, format: :month_as_text}", plan %></li>
  <% end %>
</ul>
<% end %>
