<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + 'Back to Recipe', @recipe %></p>

<h1>Editing <%= @recipe.title %></h1>

<%= render partial: 'form', locals: { recipe: @recipe, tags: current_user.tags.by_name } %>

<%= render partial: 'shared/delete_footer', locals: { object: @recipe, delete_path: @recipe } %>
