<%= link_to 'Cancel', @recipe, class: 'btn btn-outline-primary right' %>

<h1>Editing <%= @recipe.title %></h1>

<%= render 'form', recipe: @recipe %>

<%= render partial: 'shared/delete_footer', locals: { object: @recipe } %>
