<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + 'Back to Recipe', @recipe %></p>

<h1>Editing <%= @recipe.title %></h1>

<%= render 'form', recipe: @recipe %>

<%= render partial: 'shared/delete_footer', locals: { object: @recipe } %>
