<% if shopping_list.scheduled_deliveries.any? %>
  <section>
    <p><strong>Upcoming Deliveries:</strong>
      <%= display_scheduled_deliveries(shopping_list.scheduled_deliveries.future) %>
    </p>
  </section>
<% end %>
