<% if shopping_list.scheduled_deliveries.future.any? %>
  <section class='mt-2'>
    <p><strong>Deliveries:</strong>
      <%= display_scheduled_deliveries(shopping_list.scheduled_deliveries.future) %>
    </p>
  </section>
<% end %>
