<% content_for(:title, 'Schedule a Delivery') %>

<p><%= link_to MaterialIcon.new(icon: :arrow_left).render + @shopping_list.name, @shopping_list %></p>

<h1>Schedule a Delivery</h1>

<%= render 'form', scheduled_delivery: @scheduled_delivery, shopping_list: @shopping_list %>
