<%#= link_to '+ Add All Ingredients to Grocery List',
            shopping_list_item_builders_path(
              shopping_list_id: current_user.shopping_lists.default&.id,
              ingredient_ids: ingredient_ids
            ),
            method: 'POST',
            class: button_classes('info')
%>

<small>Add All Ingredients to Shopping List:</small>
<%= form_tag(shopping_list_item_builders_path, method: 'post', id: 'add-to-list-form' ) do %>
  <div class='row'>
    <div class='col-10'>
      <%= hidden_field_tag :ingredient_ids, ingredient_ids %>
      <%= select_tag :shopping_list_id,
                     options_from_collection_for_select(current_user.shopping_lists.by_favorite, :id, :name),
                     class: 'form-control'
      %>
    </div>

    <div class='col-2'>
      <%= submit_tag 'Add', class: 'btn btn-outline-info' %>
    </div>
  </div> <!-- row -->
<% end %>
