<footer class='footer--delete'>
  <h5>Danger Zone</h5>
  <p>Deleting this <%= object.class.name %> cannot be undone.</p>
  <%= link_to "Delete #{object.class.name}", delete_path,  method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, class: "#{button_classes('danger')} mb-5"  %>
</footer>
