<% flash.each do |type, message| %>
  <div class="<%= bootstrap_flash_class(type) %>">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden=true>&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>
  </div>
<% end %>
