let selectedItem = document.getElementById("<%= dom_id(@shopping_list_item) %>").querySelector('.js-item-content')

let checkmark = "<%= escape_javascript(MaterialIcon.new(icon: :checkmark).render) %>"
let badge = `<span class="badge text-bg-success ms-2">${checkmark} Added to list</span>`

selectedItem.insertAdjacentHTML('beforeend', badge)
