$table_thumbnail: 40px;
.table__recipes-index {
  .img__container {
    width: $table_thumbnail;
    height: $table_thumbnail;
    overflow: hidden;
    img {
      width: 100%;
      min-width: $table_thumbnail;
      min-height: $table_thumbnail;
      height: 100%;
      margin: 0 auto;
    }
  }
}

.recipe-form {
  textarea {
    width: 100%;
    height: 400px;
  }
  .input__small {
    width: 4.5rem;
  }
  .table-ingredients {
    margin-top: 1rem;
    border: none;
  }
}

.image-container {
  width: 100%;
  max-width: 300px;
  height: 200px;
  overflow: hidden;
  .image {
    width: 100%;
  }
}
