@import 'dimensions';
@import 'recipes';

.right {
  float: right;
}

/* BOOTSTRAP OVERRIDES */
.card {
  height: $card_height;
  .card-img-top {
    height: $card_image_height;
    background-color: gray;
  }
}
