@import 'variables';
@import 'recipes';

.footer--delete {
  border-top: 1px solid $gray;
  margin-top: 2rem;
  padding-top: 1rem;
}

// Links
a { color: $link-color; }


// Controls
.controls-on-right-parent {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  a {
    clear: both;
    margin-left: 10px;

    &:hover {
      color: $default-text;
      text-decoration: none;
    }
  }
}

// SEARCH BAR
.search-icon {
  color: $medium-gray;
  float: right;
  position: relative;
  right: 14px;
  top: 25px;
}

.clear-search {
  font-size: 90%;
  margin-bottom: 2em;
  text-align: center;
  a { color: $medium-gray; }
}

.environment-banner {
  color: $white;
  font-family: monospace;
  font-size: 1.25em;
  padding: .75em;
  text-align: center;
}


// BOOTSTRAP OVERRIDES
.card {
  // height: $card-height;
  .card-img-top {
    background-color: $gray;
    height: $card-image-height;
  }
}

.btn-xs {
  font-size: .4em;
  padding: 1px 4px;
}
