@import 'dimensions';
@import 'recipes';

.right {
  float: right;
}

.footer__delete {
  margin-top: 2rem;
  border-top: 1px solid gray;
  padding-top: 1rem;
}

/* BOOTSTRAP OVERRIDES */
.card {
  height: $card_height;
  .card-img-top {
    height: $card_image_height;
    background-color: gray;
  }
}
