@import 'variables';

.aisle {
  background-color: $brand-secondary;
  color: $white;
  font-size: .75rem;
  font-weight: normal;
  margin-bottom: 0;
  padding: 5px 8px;
}

.index-item {
  border-top: 1px solid $light-gray;
  color: $default-text;
  padding: .5rem;
}

.index-item-actions {
  font-size: 1.5rem;

  a {
    clear: both;
    padding-left: 15px;

    &:hover {
      color: $default-text;
      text-decoration: none;
    }
  }
}

.shopping-list-item {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
  a { color: $default-text; }
}

.item-crossed-off {
  color: $medium-gray;
  font-weight: normal;
  text-decoration: line-through;
  a:link { color: $medium-gray; }
  a:visited { color: $medium-gray; }
}

.recurrence-tag {
  border: 1px solid $brand-light-blue;
  border-radius: 5px;
  color: $brand-light-blue;
  font-size: .8em;
  padding: 1px 5px;
}
