@import 'variables';

.aisle {
  background-color: $brand-secondary;
  color: $white;
  font-size: .75rem;
  font-weight: normal;
  margin-bottom: 0;
  padding: 5px 8px;
}

.recurrence-tag {
  border: 1px solid $brand-light-blue;
  border-radius: 5px;
  color: $brand-light-blue;
  display: inline-block;
  font-size: .8em;
  margin-left: .25rem;
  padding: 1px 5px;
}

.shopping-list-item {
  border-top: 1px solid $light-gray;
  color: $default-text;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0;
  padding: .5rem;
  a { color: $default-text; }
}

#inactive-items .shopping-list-item {
  color: $medium-gray;
  font-weight: normal;
  text-decoration: line-through;
  a:link { color: $medium-gray; }
  a:visited { color: $medium-gray; }
  .recurrence-tag {
    border: 1px solid $medium-gray;
    color: $medium-gray;
  }
}
