@import 'variables';

.list {
  border-top: 1px solid $light-gray;
  color: $default-text;
  padding: .6rem;

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
    a { color: $default-text; }
  }

  .list-actions {
    font-size: .85rem;
    a {
      color: $medium-gray;
      &:hover { color: $default-text; }
    }
  }
  .item_purchased {
    color: gray;
    text-decoration: line-through;
  }
}
