@import 'variables';

.aisle {
  background-color: $brand-secondary;
  color: $white;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
  padding: 10px;
}

.list {
  border-top: 1px solid $light-gray;
  color: $default-text;
  padding: .6rem;

  .list-actions {
    font-size: .85rem;
    a {
      color: $medium-gray;
      &:hover {
        color: $default-text;
        text-decoration: none;
      }
    }
  }

  .list-item {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0;
    a { color: $default-text; }
  }

  .item-purchased {
    color: $medium-gray;
    text-decoration: line-through;
    font-weight: normal;
    .item-icon {
      a:link { color: $medium-gray; }
      a:visited { color: $medium-gray; }
    }
  }
}
