.flex { display: flex; }

// align-items
.align-center { align-items: center; }

// justify-content
.justify-center { justify-content: center; }

// flex-direction
.flex-col{ flex-direction: column; }
.flex-row { flex-direction: row; }  

// text-decoration
.line-through {text-decoration-line: line-through;}

// cursor
.cursor-pointer {cursor: pointer;}
