.tilting-bowl-loader {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 60px;
}

.tilting-bowl-loader::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--brand-light-blue);
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
  animation: move 0.5s linear infinite alternate;
}

.tilting-bowl-loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  background: var(--brand-purple);
  width: 24px;
  height: 24px;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% { transform: translateX(-50%) rotate(360deg); }
}

@keyframes move {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}
