@import 'variables';

// Font
.text-xsmall { font-size: x-small; }
.text-small { font-size: small; }
.text-medium { font-size: medium; }
.text-large { font-size: large; }
.text-xlarge { font-size: x-large; }
.text-xxlarge { font-size: xx-large; }
.text-size-inherit { font-size: inherit; }

// Display
.hidden { display: none; }
.inline {
  display: inline;
  word-wrap: break-word;
}
.inline-block { display: inline-block; }

// Input Sizes
.checkbox-m { width: 25px; }

// Widths
.mw-1 { min-width: 1rem; }
.mw-3 { min-width: 3rem; }
.mw-5 { min-width: 5rem; }
.mw-6 { min-width: 6rem; }
.mw-15 { min-width: 15rem; }
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }

// Overflow
.overflow-x-scroll { overflow-x: scroll; }

// Cursor
.cursor-default { cursor: default; }
.cursor-help { cursor: help; }
.cursor-pointer { cursor: pointer; }
