@import 'variables';

// Font
.text-xsmall { font-size: x-small; }
.text-small { font-size: small; }
.text-medium { font-size: medium; }
.text-large { font-size: large; }
.text-xlarge { font-size: x-large; }
.text-xxlarge { font-size: xx-large; }
.text-size-inherit { font-size: inherit; }

// Display
.hidden { display: none; }
.inline {
  display: inline;
  word-wrap: break-word;
}

// Cursor
.cursor-default { cursor: default; }
.cursor-help { cursor: help; }
.cursor-pointer { cursor: pointer; }
