// Dimensions
$card-image-height: 100px;
$card-height: $card-image-height * 4;
$table-thumbnail: 40px;

// Colors
$default-text: #2b5f6e;
$light-gray: #f1f1f1;
$gray: #808080;
$medium-gray: #ccc;
// $error: ff0000;
